#sleek{
width: 55rem !important;
background-color: #000000;
}

#hero-album-art{
    place-self: center;
    width: 85% !important;
}

#pp-div{
    width: fit-content !important;
    display: flex;
}

#dots{
    justify-self: left !important;
    margin-left: auto;
    max-width: 79rem !important;
    width: 100% !important;
}

#desc{
    font-size: small !important;
}

#curved{
    border-radius: 30px !important;
}