#sleek{
/* width: 95% !important; */
}

#hero-album-art{
    place-self: center;
    width: 85% !important;
}

#pp-div{
    width: fit-content !important;
}

#dots{
    justify-self: left !important;
    max-width: 72rem;
}