#sleek{
width: 60rem !important;
border-radius: 30px !important;
padding: 0 1.5rem !important;
}

#hero-album-art{
    place-self: center;
    width: 85% !important;
}
#hero{
    margin-bottom: ;
}
#pp-div{
    width: fit-content !important;
    display: flex;
}

#dots{
    justify-self: left !important;
    margin-left: auto;
    max-width: 79rem !important;
    width: 100% !important;
}

#desc{
    font-size: small !important;
}

#curved{
    border-radius: 30px !important;
    font-size: small !important;
}

#curved svg {
    color: rgba(255, 87, 34, 0.89) !important;
    transition: color 0.2s ease-in-out;
}

#curved:hover svg {
    color: black !important;
    transition: color 0.2s ease-in-out;
}